/dev/oncrpc/*                  0660      radio     system
/dev/compass_aot               0666      root      root 
/dev/compass_dev               0666      root      root
/dev/accel                     0666      root      root
/dev/light                     0666      root      root
/dev/proximity                 0666      root      root
/dev/hw_extern_sdcard          0444      sdcard_r  sdcard_r
/dev/kgsl-3d0                  0666      root      root
/dev/rmt_oeminfo               0640      root      root 
/dev/rmt_storage               0640      root      root 
/dev/rfkill                    0640      root      root 
/dev/smdcntl0                  0640      root      root
/dev/smdcntl1                  0640      root      root 
/dev/smdcntl2                  0640      root      root
/dev/msm_camera/*              0660      system    system
/dev/system_bus_freq           0660      system    system
/dev/cpu_dma_latency           0660      system    system
/dev/msm_vidc_reg              0660      system    audio
/dev/msm_vidc_dec              0660      system    audio
/dev/msm_vidc_enc              0660      system    audio
/dev/msm_rotator               0660      system    graphics
/dev/gemini0                   0660      system    system
/dev/msm_audio_dev_ctrl        0660      system    audio
/dev/msm_acdb                  0660      system    audio
/dev/msm_pcm_lp_dec            0660      system    audio
/dev/pmem_audio                0660      system    audio
/dev/video20                   0666      root      root

